.title {
  text-align: center;
  font-weight: bold;
  font-size: var(--title-font);
}

.info {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.rating {
  display: flex;
  align-items: center;
  gap: 10px;
}

.date {
  margin-top: 20px;
}

.nickname {
  font-weight: bold;
}

.link {
  margin-top: 50px;
}
