@import url("./reset.css");

:root {
  font-size: 16px;
  box-sizing: border-box;
  scroll-behavior: smooth;

  /* colors */
  --color-white: #ffffff;

  --color-2692f1: #2692f1;
  --color-0669bf: #0669bf;

  --color-5e8fde: #5e8fde;
  --color-2862c0: #2862c0;
  /* fonts */

  --header-color: var(--color-white);
  --header-bg-color: var(--color-2692f1);

  --page404-btn-color: var(--color-white);
  --page404-btn-bg-color: var(--color-2692f1);
  --page404-btn-bg-hover-color: var(--color-0669bf);

  --icon-color: var(--color-white);

  --btn-icon-bg-color: var(--color-2692f1);
  --btn-icon-bg-hover-color: var(--color-0669bf);

  --postitem-color: var(--color-white);
  --postitem-bg-color: var(--color-5e8fde);
  --postitem-bg-hover-color: var(--color-2862c0);
}

*,
*::before,
*::after {
  box-sizing: inherit;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
  line-height: 1.2;
  min-height: 100dvh;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
